<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail de l'animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">AM2000</div>
        <nav class="menu">
            <a href="/" id="navigation">Revenir à l'acceuil</a>
        </nav>
    </header>
    <main>
        <section class="search-bar">
            <h2>Barre de recherche</h2>
            <br>
            <div class="search-container">
                <form action="/recherche" method="get" class="search-container">
                    <input type="text" placeholder="Rechercher..." name="search" id="champRecherche">
                    <button type="submit" id="boutonRecherche">Rechercher</button>
                </form>    
            </div>    
        </section>
        <h1 class="msg_not_found">Ooops!!! Désolé ce que vous cherchez n'existe pas.</h1>

        <div id="container_animal_triste">
            <img src="{{ url_for('static', filename='404-error-not-found-page-lost.png') }}" alt="Page non trouvée" id="animal_triste">
        </div>
    </main>
</body>
</html>
